<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="company.pepisha.find_yours_pets" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <provider
        android:name="com.facebook.FacebookContentProvider"
        android:authorities="com.facebook.app.FacebookContentProvider1702801843282822"
        android:exported="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/FypTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9mKJiWsZFpZdU4XSErqVuWelv" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".AddAnimalActivity"
            android:label="@string/title_activity_add_animal" >
        </activity>
        <activity
            android:name=".AnimalActivity"
            android:label="@string/title_activity_animal" >
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name=".SheltersActivity"
            android:label="@string/title_activity_shelters" >
        </activity>
        <activity
            android:name=".AddShelterActivity"
            android:label="@string/title_activity_add_shelter" >
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name=".ShelterActivity"
            android:label="@string/title_activity_shelter" >
        </activity>
        <activity
            android:name=".fileExplorer.FileExplorer"
            android:label="@string/title_activity_file_explorer" >
        </activity>
        <activity
            android:name=".UpdateUserProfileActivity"
            android:label="@string/title_activity_update_user_profile" >
        </activity>
        <activity
            android:name=".AnimalNewsActivity"
            android:label="@string/title_activity_animal_news" >
        </activity>
        <activity
            android:name=".SearchAnimalActivity"
            android:label="@string/title_activity_search_animal" >
        </activity>
        <activity
            android:name=".AnimalAddNewsActivity"
            android:label="@string/title_activity_animal_add_news" >
        </activity>
        <activity
            android:name=".PetsPreferencesActivity"
            android:label="@string/title_activity_pets_preferences" >
        </activity>
        <activity
            android:name=".AnimalMessageActivity"
            android:label="@string/title_activity_animal_message" >
        </activity>
        <activity
            android:name=".ShelterAnimalsActivity"
            android:label="@string/title_activity_shelter_animals" >
        </activity>
        <activity
            android:name=".ShelterCommentsActivity"
            android:label="@string/title_activity_shelter_comments" >
        </activity>
        <activity
            android:name=".SheltersAdoptedAnimalsActivity"
            android:label="@string/title_activity_shelters_adopted_animals" >
        </activity>
        <activity
            android:name=".MessageActivity"
            android:label="@string/title_activity_message_activuty" >
        </activity>
        <activity
            android:name=".ShelterMessagesActivity"
            android:label="@string/title_activity_shelter_messages" >
        </activity>
    </application>

</manifest>
